# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/

# Variables
.env

# Datos generados
data/processed/
*.db

# Archivos de prueba
prueba*.py
prueba*.ipynb

# Notas / prompts
prompt*.md
*_context.md
context.md